@charset "UTF-8";

html, body {
    height: 96vh;
    width: 98vw;
}
body {
    background-color: rgba(0, 0, 255, 0.761);

    position: relative;

    font-family: 'Courier New', Courier, monospace;
}

body > h1 {
    color: white;

    text-align: center;
    font-size: 2em;
}

main {
    position: absolute;
    min-height: 1px;
    width: 500px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius:10px;
}

